[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/IndentConsistencyCop"]
	path = vim/bundle/IndentConsistencyCop
	url = https://github.com/vim-scripts/IndentConsistencyCop.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vimtips-fortune"]
	path = vim/bundle/vimtips-fortune
	url = https://github.com/hobbestigrou/vimtips-fortune.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/taglist.vim"]
	path = vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-preview"]
	path = vim/bundle/vim-preview
	url = https://github.com/greyblake/vim-preview.git
[submodule "vim/bundle/vim-solidity"]
	path = vim/bundle/vim-solidity
	url = https://github.com/tomlion/vim-solidity.git
[submodule "vim/bundle/vimagit"]
	path = vim/bundle/vimagit
	url = https://github.com/jreybert/vimagit.git
